body {
  margin: 0;
  text-align: center;
}

header {
  font-size: 75px;
  font-family: 'Oswald';
  text-align: center;
  margin-bottom: 20px;
  color: rgba(0,0,0,0.5);
}

form {
  text-align: center;
  margin-bottom: 20px;
}

input, button {
  width: 300px;
  padding: 16px;
  font-size: 24px;
  font-family: 'Oswald';
  text-align: center;
  border: 1px solid grey;
  margin: 24px auto;
  display: block;
}
button {
  display: none;
  opacity: 0.5;
  margin: 10px auto;
}
img {
  width: auto;
  height: auto;
  margin: auto;
}
#mosaicOverlay {
  margin: auto;
  box-sizing: border-box;
}
#printCanvas {
  display: none;
}
.mosBlock {
  float: left;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.25px solid grey;
  font-size: 75%;
}
